{% extends "base.html" %}
{% block body %}
<!-- <div class="jumbotron">
    <div class="container">
        <h1>Mister Picasso</h1>
        <p>Have your portrait done by Mister Picasso</p>
    </div>
</div> -->


<div class="container">

<div class="row">
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 thumb">
        <a data-toggle="modal" class="thumbnail" href="/zoom"  data-target="#myModal">
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-auto">
      <div class="modal-content">

      </div><!-- /.modal-content -->
  </div>
</div>

<script>
function init() {
    imgs = document.getElementsByClassName("img-responsive");
    for (i = 0; i < imgs.length; i++) {
        imgs[i].addEventListener("click", sendimg, false);
    }
}

function sendimg(e) {
    var a = e.target;
    window.localStorage.setItem("imginfo", JSON.stringify(a.src));
}

window.addEventListener("load", init, false)

path = "../static/img/combo/";
img_arr = {{ combo_imgs|tojson }};
rows_arr = [0, 1, 2, 3];
cells_arr = [0, 1, 2, 3, 4, 5];
img_urls = shuffle(img_arr);
rows_cells = shuffle(combination(rows_arr, cells_arr));
i = 0;

// dynamically add img element
function update() {
    img_tag = $(".row")[rows_cells[i][0]].children[rows_cells[i][1]].children[0];

    if (img_tag.children.length > 0) {
        first_img = img_tag.children[0];
        first_img.setAttribute("src", path + img_urls[i]);
    } else {
        var img = new Image();
        img.setAttribute("class", "img-responsive");
        img.src = path + img_urls[i];
        img_tag.appendChild(img);
        img_tag.children[0].addEventListener("click", sendimg, false);
    }
    i++;
    if (i == 24) {
        i = 0;
        img_urls = shuffle(img_arr);
        rows_cells = shuffle(combination(rows_arr, cells_arr));
    }
}

// shuffle array such that elements are randomized and not selected twice
function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
    }
    return array;
}

// get all combinations of rows and cells
function combination(array1, array2) {
    combos = [];

    for (var i = 0; i < array1.length; i++) {
        for (var j = 0; j < array2.length; j++) {
            combo = []
            combo.push(array1[i]);
            combo.push(array2[j]);
            combos.push(combo);
         }
    }
    return combos;
}

setInterval(function(){ update(img_urls, rows_cells, i) }, 500);
</script>
</div><!-- /.container -->

{% endblock %}
