
{% block body %}

<div>

        <table align="center">
            <tr>
                <td>
                    <img class="img-responsive" src={{base_img_url}} alt="">
                    <center> You </center>
                </td>
                <td>
                    <img class="img-responsive" src={{style_img_url}} alt="">
                    <center> In the style of </center>
                </td>
                <td>
                    <img class="img-responsive" src={{img_url}} alt="">
                    <center> My painting </center>
                </td>
            </tr>
        </table>

</div>



{% endblock %}
